---js
const numberOfLatestPostsToShow = 7;
const eleventyNavigation = {
  key: "Home",
}
---

<div class="h-card home-intro">
    <p>👋 Hi! I'm Deepak.</p>
		<p>🙏 Welcome to my online home</p>
    <p>You can find more about me in the <a href="/about">about page</a></p>
</div>

<div style="margin-bottom:4em;">
    {% set postsCount = collections.posts | length %}
    {% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
    {# <h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1> #}
    <h2>Blog</h2>

    {% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
    {% set postslistCounter = postsCount %}
    {% include "postslist.njk" %}

    {% set morePosts = postsCount - numberOfLatestPostsToShow %}
    {% if morePosts > 0 %}
    <p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="blog.njk">the archives</a>.</p>
    {% endif %}
</div>

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
