---js
const eleventyNavigation = {
};

const numberOfLatestPostsToShow = 5;
---

<div class="h-card home-intro">
    <p>👋 Hi! I’m <span class="p-name">Deepak</span>.</p>
    <mark>I'm a software developer based in <span class="p-locality">Sydney, Australia</span>.</mark> 
    <p>🙏 Welcome to my online home.</p>
    <p>You can find more about me in the <a href="/about">about page</a></p>
</div>

<div style="margin-bottom:4em;">
    {% set postsCount = collections.posts | length %}
    {% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
    {# <h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1> #}
    <h2>Latest Posts</h2>

    {% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
    {% set postslistCounter = postsCount %}
    {% include "postslist.njk" %}

    {% set morePosts = postsCount - numberOfLatestPostsToShow %}
    {% if morePosts > 0 %}
    <p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="blog.njk">the archive</a>.</p>
    {% endif %}
</div>

<h2>Currently Reading</h2>

<div class="books-list" style="justify-content: start!important;gap:20px;">
  {%- for book in books -%}
    {%- if loop.index <= 3 -%}
    <div class="book" style="background-image: url('/images/covers/{{ book.image }}')">
      <div class="book-title">
        {{ book.displayTitle or book.title }}
        <div class="book-rating">
        {%- set rating = book.rating | int -%}
        {%- for i in range(1, 6) -%}
            <span class="star {% if i <= rating %}filled{% endif %}">★</span>
          {%- endfor %}
        </div>
      </div>
    </div>
    {%- endif -%}
  {%- endfor %}
</div>
My complete <a href="/books/">bookshelf</a>

<hr/>

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
