<div class="other-links">
    <div class="heading">All links related to &nbsp;<a href="/projects/great-books-of-western-world/">The Great Books of Western World</a></div>
    <p><a href="/projects/great-books-of-western-world/my-plan/">My Plan For Reading The Great Books of Western World</a></p>
    <ol>
        <li><a href="vol-1-the-great-conversation/index.md">The Great Conversation</a></li>
        {# <li><a href="vol-2-the-great-ideas-i/index.md">The Great Ideas I</a></li>
        <li><a href="vol-3-the-great-ideas-ii/index.md">The Great Ideas II</a></li>
        <li><a href="vol-4-homer/index.md">Homer</a></li>
        <li><a href="vol-5-aeschylus-sophocles-euripides-aristophanes/index.md">Aeschylus, Sophocles, Euripides, Aristophanes</a></li>
        <li><a href="vol-6-herodotus-thucydides/index.md">Herodotus, Thucydides</a></li>
        <li><a href="vol-7-plato/index.md">Plato</a></li>
        <li><a href="vol-8-aristotle-i/index.md">Aristotle I</a></li>
        <li><a href="vol-9-aristotle-ii/index.md">Aristotle II</a></li>
        <li><a href="vol-10-hippocrates-galen/index.md">Hippocrates, Galen</a></li>
        <li><a href="vol-11-euclid-archimedes-apollonius-nicomachus/index.md">Euclid, Archimedes, Apollonius, Nicomachus</a></li>
        <li><a href="vol-12-lucretius-epictetus-marcus-aurelius/index.md">Lucretius, Epictetus, Marcus Aurelius</a></li>
        <li><a href="vol-13-virgil/index.md">Virgil</a></li>
        <li><a href="vol-14-plutarch/index.md">Plutarch</a></li>
        <li><a href="vol-15-tacitus/index.md">Tacitus</a></li>
        <li><a href="vol-16-ptolemy-copernicus-kepler/index.md">Ptolemy, Copernicus, Kepler</a></li>
        <li><a href="vol-17-plotinus/index.md">Plotinus</a></li>
        <li><a href="vol-18-augustine/index.md">Augustine</a></li>
        <li><a href="vol-19-thomas-aquinas-i/index.md">Thomas Aquinas I</a></li>
        <li><a href="vol-20-thomas-aquinas-ii/index.md">Thomas Aquinas II</a></li>
        <li><a href="vol-21-dante/index.md">Dante</a></li>
        <li><a href="vol-22-chaucer/index.md">Chaucer</a></li>
        <li><a href="vol-23-machiavelli-hobbes/index.md">Machiavelli, Hobbes</a></li>
        <li><a href="vol-24-rabelais/index.md">Rabelais</a></li>
        <li><a href="vol-25-montaigne/index.md">Montaigne</a></li>
        <li><a href="vol-26-shakespeare-i/index.md">Shakespeare I</a></li>
        <li><a href="vol-27-shakespeare-ii/index.md">Shakespeare II</a></li>
        <li><a href="vol-28-gilbert-galileo-harvey/index.md">Gilbert, Galileo, Harvey</a></li>
        <li><a href="vol-29-cervantes/index.md">Cervantes</a></li>
        <li><a href="vol-30-francis-bacon/index.md">Francis Bacon</a></li>
        <li><a href="vol-31-descartes-spinoza/index.md">Descartes, Spinoza</a></li>
        <li><a href="vol-32-milton/index.md">Milton</a></li>
        <li><a href="vol-33-pascal/index.md">Pascal</a></li>
        <li><a href="vol-34-newton-huygens/index.md">Newton, Huygens</a></li>
        <li><a href="vol-35-locke-berkeley-hume/index.md">Locke, Berkeley, Hume</a></li>
        <li><a href="vol-36-swift-sterne/index.md">Swift, Sterne</a></li>
        <li><a href="vol-37-fielding/index.md">Fielding</a></li>
        <li><a href="vol-38-montesquieu-rousseau/index.md">Montesquieu, Rousseau</a></li>
        <li><a href="vol-39-adam-smith/index.md">Adam Smith</a></li>
        <li><a href="vol-40-gibbon-i/index.md">Gibbon I</a></li>
        <li><a href="vol-41-gibbon-ii/index.md">Gibbon II</a></li>
        <li><a href="vol-42-kant/index.md">Kant</a></li>
        <li><a href="vol-43-american-state-papers-the-federalist-js-mill/index.md">American State Papers, The Federalist, J.S. Mill</a></li>
        <li><a href="vol-44-boswell/index.md">Boswell</a></li>
        <li><a href="vol-45-lavoisier-fourier-faraday/index.md">Lavoisier, Fourier, Faraday</a></li>
        <li><a href="vol-46-hegel/index.md">Hegel</a></li>
        <li><a href="vol-47-goethe/index.md">Goethe</a></li>
        <li><a href="vol-48-melville/index.md">Melville</a></li>
        <li><a href="vol-49-darwin/index.md">Darwin</a></li>
        <li><a href="vol-50-marx-engels/index.md">Marx, Engels</a></li>
        <li><a href="vol-51-tolstoy/index.md">Tolstoy</a></li>
        <li><a href="vol-52-dostoevsky/index.md">Dostoevsky</a></li>
        <li><a href="vol-53-william-james/index.md">William James</a></li>
        <li><a href="vol-54-freud/index.md">Freud</a></li> #}
    </ol> 
</div>
