{% macro renderBooksList(filteredBooks, headingText, displayStars, subText) %}
<div class="books-list-heading">
  <div style="display:flex;width:100%;margin-bottom:1em;">
  {%- if(displayStars !== NaN)-%}
    <div style="flex-grow:1;">
    <strong>{{ filteredBooks | length }}</strong> books {{ headingText }} 
    </div>
    <div>
     {%- for i in range(0, displayStars) -%}
          <span class="star filled {% if i == 5 %} six{% endif %}">★</span>
    {%- endfor %} 
    </div>
  {%- else -%}
    {{ filteredBooks | length }} books {{ headingText }}
  {%- endif -%}
  </div>
  <div>
    {{ subText }}
  </div>
</div>
  <div class="books-list">
    {%- for book in filteredBooks -%}
      {%- set rating = book.rating | int -%}
      {%- if book.link -%}
      <a href="{{ book.link }}">
      {%- endif -%}
      {% if rating == 6 %}
        <div class="book six-star-book" style="background-image: url('/images/covers/{{ book.image }}')">
      {% else %}
        <div class="book" style="background-image: url('/images/covers/{{ book.image }}')">
      {% endif %}
        <div class="book-title">
          {{ book.displayTitle or book.title }}
          <div class="book-rating">
            {%- if rating == 6 -%}
              {%- for i in range(1, 7) -%}
                <span class="star {% if i <= rating %}filled{% endif %} {% if i == 6 %} six{% endif %}">★</span>
              {%- endfor %}
            {%- else -%}
              {%- for i in range(1, 6) -%}
                <span class="star {% if i <= rating %}filled{% endif %}">★</span>
              {%- endfor %}
            {%- endif -%}
          </div>
        </div>
      </div>
      {%- if book.link -%}
      </a>
      {%- endif -%}
    {%- endfor %}
  </div>
{% endmacro %}