{% macro renderBooksList(filteredBooks, headingText, displayStars, subText) %}
{%- set sortedBooks = filteredBooks | sortBooksByReadorStartDate -%}


<div class="books-list-heading">
  <div style="display:flex;width:100%;">
  {%- if(displayStars !== NaN)-%}
    <div style="flex-grow:1;">
    <strong>{{ filteredBooks | length }}</strong> books {{ headingText }}
    </div>
    <div>
     {%- for i in range(0, displayStars) -%}
          <span class="star filled {% if i == 5 %} six{% endif %}">★</span>
    {%- endfor %}
    </div>
  {%- else -%}
    {{ filteredBooks | length }} books {{ headingText }}
  {%- endif -%}
  </div>
  {%- if subText != "" -%}
  <div style="margin-top:5px;">
    {{ subText }}
  </div>
  {%- endif -%}
</div>
<div id="icons-container">
  <div id="show-book-list-icons">
    <i class="las la-icons la-3x" ></i>
  </div>
  <div id="show-book-list-text">
    <i class="las la-list-ul la-3x"></i>
  </div>
</div>
  <div id="book-list-icons" class="books-list">
    {%- for book in sortedBooks -%}
      {%- set rating = book.rating | int -%}
      {%- if book.link -%}
      <a href="/books/{{ book.link }}">
      {%- endif -%}
      {% if rating == 6 %}
        <div class="book six-star-book" style="background-image: url('/images/covers/{{ book.image }}')">
      {% else %}
        <div class="book" style="background-image: url('/images/covers/{{ book.image }}')">
      {% endif %}
        <div class="book-title">
          {# {{ book.displayTitle or book.title }} #}
          <div class="book-rating">
            {%- if rating == 6 -%}
              {%- for i in range(1, 7) -%}
                <span class="star {% if i <= rating %}filled{% endif %} {% if i == 6 %} six{% endif %}">★</span>
              {%- endfor %}
            {%- else -%}
              {%- for i in range(1, 6) -%}
                <span class="star {% if i <= rating %}filled{% endif %}">★</span>
              {%- endfor %}
            {%- endif -%}
          </div>
        </div>
      </div>
      {%- if book.link -%}
      </a>
      {%- endif -%}
    {%- endfor %}
  </div>

  <div id="book-list-text">
    <ol>
      {%- for book in sortedBooks -%}
        {%- set rating = book.rating | int -%}
        <li>
          {%- if book.link -%}
          <a href="/books/{{ book.title }}">
          {%- endif -%}
          {{ book.title | trim }}
          {%- if book.link -%}
          </a>
          {%- endif -%}
          <span>  </span>
          {%- if rating == 6 -%}
            {%- for i in range(1, 7) -%}
              <span class="star {% if i <= rating %}filled{% endif %} {% if i == 6 %} six{% endif %}">★</span>
            {%- endfor %}
          {%- else -%}
            {%- for i in range(1, 6) -%}
              <span class="star {% if i <= rating %}filled{% endif %}">★</span>
            {%- endfor %}
          {%- endif -%}
        </li>
      {%- endfor %}
    </ol>
  </div>
{% endmacro %}
