{%- set oneStarBooks = [] -%}
{%- set twoStarBooks = [] -%}
{%- set threeStarBooks = [] -%}
{%- set fourStarBooks = [] -%}
{%- set fiveStarBooks = [] -%}
{%- set sixStarBooks = [] -%}

{%- for book in books -%}
  {%- if book.rating == "1" -%}
    {%- set oneStarBooks = oneStarBooks.concat([book]) -%}
  {%- elif book.rating == "2" -%}
    {%- set twoStarBooks = twoStarBooks.concat([book]) -%}
  {%- elif book.rating == "3" -%}
    {%- set threeStarBooks = threeStarBooks.concat([book]) -%}
  {%- elif book.rating == "4" -%}
    {%- set fourStarBooks = fourStarBooks.concat([book]) -%}
  {%- elif book.rating == "5" -%}
    {%- set fiveStarBooks = fiveStarBooks.concat([book]) -%}
  {%- elif book.rating == "6" -%}
    {%- set sixStarBooks = sixStarBooks.concat([book]) -%}
  {%- endif -%}
{%- endfor -%}
<h2>My rating system</h2>

<p>
I follow a 6 star rating system. 
</p>

<ol>
    <li><span class="star filled">★</span> Shouldn't have bothered (<a href="/books/1-star">{{ oneStarBooks | length }} books</a>)</li>
    <li><span class="star filled">★★</span> It was not so bad that it deserved 1 star but not good either (<a href="/books/2-star">{{ twoStarBooks | length }} books</a>)</li>
    <li><span class="star filled">★★★</span> Neither good nor bad (<a href="/books/3-star">{{ threeStarBooks | length }} books</a>)</li>
    <li><span class="star filled">★★★★</span> It got me interested enough to read it all the way through (<a href="/books/4-star">{{ fourStarBooks | length }} books)</li>
    <li><span class="star filled">★★★★★</span> Learned plenty from this book, maybe I will read it again (<a href="/books/5-star">{{ fiveStarBooks | length }} books)</li>
    <li><span class="star filled">★★★★★</span><span class="star filled six">★</span> <mark>Beyond awesome.</mark> This book had a huge impact on me and made a dent in my universe (<a href="/books/6-star">{{ sixStarBooks | length }} books)</li>
</ol>
