<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }} - Personal website of Deepak</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="alternate" href="feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap" rel="stylesheet">
		<link rel= "stylesheet" href= "https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" >


		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-GV5QD4KRG8"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-GV5QD4KRG8');
		</script>



		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		{#- <meta name="generator" content="{{ eleventy.generator }}"> #}

		{#-
		Plain-text bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. CSS:
			* Add to a per-page bundle using `{% css %}{% endcss %}`
			* Retrieve bundle content using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		2. Or for JavaScript:
			* Add to a per-page bundle using `{% js %}{% endjs %}`
			* Retrieve via `{% getBundle "js" %}` or `{% getBundleFileUrl "js" %}`
		3. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}

		{#- Add an arbitrary string to the bundle #}
		{%- css %}/* This is an arbitrary CSS string added to the bundle */{% endcss %}
		{#- Add the contents of a file to the bundle #}
		{%- css %}{% include "public/css/index.css" %}{% endcss %}
		{#- Or you can add from node_modules #}
		{# {%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %} #}

		{#- Render the CSS bundle using inlined CSS (for the fastest site performance in production) #}
		<style>{% getBundle "css" %}</style>
		{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
		{#- <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> #}

		{#- Add the heading-anchors web component to the JavaScript bundle #}
		{%- js %}{% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}{% endjs %}

	</head>
	    <link href="//prismjs.catppuccin.com/mocha.css" rel="stylesheet" />
	<body>
		<header>
				<button class="nav-toggle" aria-expanded="false" aria-label="Toggle navigation">
						<i class="las la-bars la-lg"></i>
				</button>
			<a href="/" class="home-link">{{ metadata.title }}</a>

			<nav>
				<ul class="nav">
					<li class="nav-item" id="nav-close">
						<i class="las la-window-close la-2x"></i>
					</li>
					<li class="nav-item" id="mobile-home-link" >
						<a href="/">Home</a>
					</li>

				{%- for entry in navigation-%}
				<li class="nav-item">
					<a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>
						{{ entry.title }}
					</a>
				</li>
				{%- endfor %}
				{# {%- for entry in collections.all | eleventyNavigation %}
					<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
				{%- endfor %} #}
					<li class="nav-item" >
						<a href="/feed/feed.xml"><i class="las la-rss la-lg"></i></a>
					</li>
				</ul>
			</nav>
			<button id="theme-toggle" aria-label="Toggle theme">
				●
			</button>

		</header>

		<main id="skip">
			<heading-anchors>
				{% set currentKey = eleventyNavigation.key %}
				{% if currentKey and not hideBreadcrumb %}
					{% set navPages = collections.all | eleventyNavigationBreadcrumb(currentKey) %}
					{% for crumb in navPages %}
						{% if loop.first %}<nav aria-label="breadcrumb"><ol>{% endif %}
						<li>
						&nbsp;&nbsp;/
						<a href="{{ crumb.url }}"
						{% if page.url == crumb.url %}aria-current="page"{% endif %}
						>
							{{ crumb.title }}
						</a>
						</li>
						{% if loop.last %}</ol></nav>{% endif %}
					{% endfor %}
				{% endif %}
				{{ content | safe }}
			</heading-anchors>
		</main>


		<hr/>
		<h2>Tags</h2>

		<div class="tag-cloud">
			{% for tag in collections.tagCloud %}
				<a href="/tags/{{ tag.tag | slug }}" class="tag" style="font-size: {{ 0.9 + tag.count / 20 }}em;">
					{{ tag.tag }}
				</a>
			{% endfor %}
		</div>


		<footer style="margin-top:4rem; margin-bottom:4rem; font-size: 80%;">
			<hr/ style="margin-bottom:.5rem;">
			<div style="display:flex;gap:.5rem;">
				<a href="/blog">Blog</a> |<a href="/books">Books</a> | <a href="/projects">Projects</a> | <a href="/pages">Pages</a>
			</div>
		</footer>

		<script>
			document.addEventListener('DOMContentLoaded', function () {
				const navToggle = document.querySelector('.nav-toggle');
				const nav = document.querySelector('.nav');
				const navClose = document.getElementById('nav-close')

				navToggle.addEventListener('click', () => {
					const expanded = navToggle.getAttribute('aria-expanded') === 'true' || false;
					navToggle.setAttribute('aria-expanded', !expanded);
					nav.classList.toggle('active');
				});

				if(navClose ) {
					navClose.addEventListener('click', () => {
						const expanded = navToggle.getAttribute('aria-expanded') === 'true' || false;
						navToggle.setAttribute('aria-expanded', !expanded);
						nav.classList.toggle('active');
					});

				}

				const toggleButton = document.getElementById('theme-toggle');
				const currentTheme = localStorage.getItem('theme') || 'dark';

				if (currentTheme) {
					document.documentElement.setAttribute('data-theme', currentTheme);
				}

				toggleButton.addEventListener('click', () => {
					const newTheme = document.documentElement.getAttribute('data-theme') === 'dark' ? 'light' : 'dark';
					document.documentElement.setAttribute('data-theme', newTheme);
					localStorage.setItem('theme', newTheme);
				});

				const showBookListIcons = document.getElementById('show-book-list-icons');
				const showBookListText = document.getElementById('show-book-list-text');

				if(showBookListIcons && showBookListText) {
					showBookListText.addEventListener('click', function() {
						console.log('showBookListText.click')
						const iconElements = document.getElementsByClassName('book-list-icons')
						for (let element of iconElements) {
							element.style.display = "none";
						}

						const textElements = document.getElementsByClassName('book-list-text')
						for (let element of textElements) {
							element.style.display = "initial";
						}
					})

					showBookListIcons.addEventListener('click', function() {
						console.log('showBookListIcons.click')
						const iconElements = document.getElementsByClassName('book-list-icons')
						for (let element of iconElements) {
							element.style.display = "flex";
						}

						const textElements = document.getElementsByClassName('book-list-text')
						for (let element of textElements) {
							element.style.display = "none";
						}
						{# document.getElementsByClassName('book-list-icons').style.display = "flex"
						document.getElementsByClassName('book-list-text').style.display = "none" #}
					})
				}

			});


			// used to shuffle books
			function shuffleArray(array) {
				for (let i = array.length - 1; i > 0; i--) {
				const j = Math.floor(Math.random() * (i + 1));
				[array[i], array[j]] = [array[j], array[i]];
				}
			}

		</script>

		<!-- This page `{{ page.url | htmlBaseUrl }}` was built on {% currentBuildDate %} -->
		<script type="module" src="{% getBundleFileUrl "js" %}"></script>
	</body>
</html>
